behave==1.2.5
decorator==3.4.2
enum34==1.0.4
Flask==0.10.1
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
parse==1.6.6
parse-type==0.3.4
selenium==2.45.0
six==1.9.0
Werkzeug==0.10.4

# For testing
httpbin==0.2.1