/**
 * icomoon.io
 *
 * Material Icons: https://www.google.com/design/icons/
 *  CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/)
 */
@font-face {
    font-family: 'icomoon';
    src: url('../css/font/icomoon/icomoon.woff?ypfmc5') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e5cd";
}
.icon-delete:before {
  content: "\e872";
}
.icon-more_vert:before {
  content: "\e5d4";
}
.icon-note_add:before {
  content: "\e89c";
}
.icon-send:before {
  content: "\e163";
}
.icon-share:before {
  content: "\e80d";
}