/*
 * This file is part of RESTMan for Opera Extension.
 * https://github.com/jsargiot/restman
 *
 * Free to use under the MIT license.
 * https://raw.githubusercontent.com/jsargiot/restman/master/LICENSE
 */
@font-face {
  font-family: "Roboto";
  src: url("./font/roboto/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("./font/roboto/Roboto-Bold.ttf");
  font-weight: 700;
}

body {
  background-color: #ECEFF1;
  line-height: 1;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 400;
}

dl {
  line-height: 1.4;
  margin-bottom: 0;
}

dl dt {
  display: inline-block;
  font-size: 0.75em;
  text-transform: uppercase;
  color: rgba(0,0,0,0.75);
  margin: 0;
}

dl dd {
  color: black;
  display: block;
  font-size: 1em;
  letter-spacing: -0.05em;
  margin: 0 0 0.5em 0;
}

header {
  padding: 1rem;
  border-bottom: 1px solid #d3d3d3;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  z-index: 100;
}

header, footer {
  background-color: #607D8B;
}

header .title {
  line-height: 3rem;
  text-align: left;
  display: inherit;
  align-items: center;
  padding-right: 1rem;
  color: #FFF;
}

header .title .logo {
  height: 3.125rem;
}

header #Controls {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.3rem;
  padding-right: 0.15rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  border-radius: 3px;
  background-color: white;
}

header #Controls > * {
  margin: 0 0.15rem;
}

progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.25em;
  z-index: 90;
  -webkit-appearance: none;
  appearance: none;
}
  progress::-webkit-progress-bar {
    background: #607d8b;
  }

section {
  border-width: 0;
  margin: 0.625rem;
  background: #FFF;
  color: #333333;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

section h3 {
  font-size: 1em;
  background-color: #fafafa;
  padding: 1em 0 1em 2em;
  margin: 0;
}

footer {
  text-align: center;
}

.page-footer .footer-copyright {
  overflow: hidden;
  line-height: 2rem;
  font-size: 0.8rem;
  color: #FFF;
}

footer a {
  color: #90a4ae
}

ul.list {
  margin: 0;
}

ul.list li {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 3px;
  background-color: #fff;
}

ul.name-value-list {
  margin-bottom: 1rem;
  margin-left: 0;
  padding: 0;
  position: relative;
  font-size: 0.9375rem;
  border: none;
}

span[data-delete-item] {
  width: 2.25rem;
  font-size: 1.25rem;
  padding: 0 0.5rem;
  opacity: 0.5;
  cursor: pointer;
  align-self: center;
}
  span[data-delete-item]:hover {
    opacity: 1;
  }

ul#ResponseHeaders li {
  border-bottom: 1px solid rgba(0,0,0,.2);
  padding: 0.5rem 1rem;
}

ul#ResponseHeaders li .key {
  font-weight: 700;
  width: 50%;
}

li.active input[type=button] {
    background-color: #455A64;
    color: #FFF;
}

ul[data-tab] {
  margin: 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

ul[data-tab] li {
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

ul[data-tab] li.active {
  border-bottom: 3px solid #607d8b;
}

ul[data-tab] li.active a {
  color: #607d8b;
}

ul[data-tab] li > a {
  display: block;
  padding: 1rem;
  text-transform: uppercase;
  outline: none;
  color: rgba(0,0,0,0.75);
}

input[type=button] {
  display: inline-block;
  height: 36px;
  padding: 0 1rem;
  text-transform: uppercase;
  border: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none;
  background-color: transparent;
  color: #343434;
  cursor: pointer;
  border-radius: 3px;
}

input[type=button]:hover,#Method:hover, #Send:hover, #Options:hover {
  background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
  background-position: 0 0;
}

input[type=button].disabled {
  background-color: #DFDFDF;
  box-shadow: none;
  color: #9F9F9F;
  cursor: default;
}

input[type=button].error {
  background-color: #c81414;
  color: white;
  border: 1px solid #800;
}

input[type=button].ok {
  background-color: #60b044;
  color: white;
  border: 1px solid #080;
}

input[type=text].flat, input[type=password].flat, input[type=file].flat {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #cfd1d4;
  box-shadow: none;
  margin: 0.5rem;
  background-color: transparent;
  display: block;
  color: rgba(0, 0, 0, 0.75);
  padding: 0.5rem;
}

input[type=text].flat:focus, input[type=password].flat:focus {
  border-bottom: 2px solid #78909c;
  outline: none;
}

#Controls select, #Controls input, #Send, #Options {
  height: 2.5rem;
  font-family: Roboto, Arial, sans-serif;
}

#Controls input[type="text"] {
  border-width: 0;
  box-shadow: 0 0;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  margin: 0;
}

#Url {
  background-color: transparent;
}

#Method {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAFCAYAAAB4ka1VAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAAJcEhZcwAACxEAAAsRAX9kX5EAAAAnSURBVBhXY/D19f0PwgxoAC4OYyArwhBDFkDGYEkYwCsJA5iSDAwA2BMpxchNQrMAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-position-x: 4.8rem;
  background-position-y: center;
  background-color: transparent;
  width: 5.9375rem;
  border: none;
  border-radius: 3px;
}

#Send, #Options {
  padding: 0 0.5rem;
  text-align: center;
  color: #607d8b;
  cursor: pointer;
  font-size: 2.25rem;
  border-radius: 3px;
}

#Options {
  align-self: center;
  color: #FFF;
  margin-left: 1rem;
  padding: 0;
}

#MainEditors:not(.flex-columns) > * {
  width: 50%;
}

#MainEditors:not(.flex-columns) .expandable.closed > * {
  display: block;
}

#MainEditors:not(.flex-columns) .expandable .expander {
  background-image: none;
  cursor: default;
}

#HistoryList {
  max-height: 50vh;
  overflow-y: auto;
}

#HistoryList li {
  cursor: pointer;
  margin: 0;
}

#HistoryList li:hover, #HistoryList li[selected="true"] {
  background-color: rgba(0,0,0,0.1);
}

#HistoryList li span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#HistoryList li .label {
  line-height: 2rem;
  width: 4rem;
  padding: 0;
}

#HistoryList li a.delete-parent,
#HeadersTable li a.delete-parent,
#FormData li a.delete-parent{
  width: 1.5rem;
  text-align: center;
}

#HeadersTable li label, #FormData li label {
  text-indent: -5000px;
  line-height: 0px;
}

#ResponsePanel {
  position: relative;
}

#ResponsePanel > [data-show-type] {
  border-bottom: 1px solid #d8d8d8;
}

#ResponsePanel .html-box {
  background-color: white;
  height: auto;
}

#ResponsePanel .html-box iframe {
  min-height: 18rem;
  max-height: 50rem;
  border: 0;
  width: 100%;
  resize: vertical; /* Allow vertical manual resize */
  display: block;
}

.clearfix {
  clear: both;
}

.content {
  padding: 0rem 1rem;
}

.CodeMirror {
  height: auto;
}

.CodeMirror .CodeMirror-scroll {
  min-height: 18rem;
  max-height: 50rem;
  height: auto;
  box-sizing: border-box;
}

.label {
  margin-bottom: 0;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.row.full-width {
  max-width: 100%;
}

.sub-nav {
  margin: 0;
  padding: 0.3em;
}

.sub-nav li {
  margin: 0 0.125rem;
  padding: 0;
}

.tabs-content {
  margin-bottom: 0;
  padding: 1rem;
}

.tabs-content > .content {
  padding: 0;
}

*[data-clone-template] {
  /* These items should never be displayed */
  display: none !important;
}

.top-bar {
  margin-bottom: 1rem;
}

.logo-desc {
  display: inline-block;
  line-height: 4rem;
  font-size: 2rem;
}

.reveal-modal {
  padding: 0;
}

.modal-content, .modal-buttons {
  padding: 1.5rem;
  padding-bottom: 1rem;
}

.modal-buttons {
  text-align: right;
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
}

.flex-container {
  display: flex;
}

.flex-item-static {
  flex: 0 0 auto;
}

.flex-item-dynamic {
  flex: 1 1 auto;
  position: relative;
}

.flex-item-center {
  align-self: center;
}

.flex-item-middle {
  align-items: center;
}

.flex-container.flex-columns {
  flex-direction: column;
}

.scrollable-y {
  overflow-y: auto;
}

.history-method {
  background-color: transparent;
}

.history-method-GET .label {
  color: darkgreen;
}

.history-method-POST .label {
  color: darkblue;
}

.history-method-PUT .label {
  color: purple;
}

.history-method-PATCH .label {
  color: teal;
}

.history-method-DELETE .label {
  color: red;
}

.history-method-OPTIONS .label {
  color: brown;
}

.history-popup, .reveal-modal {
  border-radius: 5px;
}

.loading {
    background-image: linear-gradient(-45deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .1) 50%, rgba(0,0,0, .1) 75%, transparent 75%, transparent);
    background-size: 50px 50px;
    animation: move 2s linear infinite;
}

@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}

.main-container {
  padding: 0.625rem;
}

.theme-form {
  text-align: center;
}

.theme-form label {
  display: inline-block;
  margin: 2rem 1rem;
  padding: 0;
}

.theme-form label img {
  border-radius: 0.3125rem;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12);
  display: block;
  width: 111px;
}

.theme-form label input {
  margin: 0.5rem 1rem 0.5rem 0;
}
