
body {
    background-color: #FBFBFB;
}

body footer {
    background: #333;
    margin-top: 24px;
    padding: 1em 0;
    color: #eee;
}

dl.sub-nav {
    float: right;
    padding: 0;
    margin: 0;
}

dl.sub-nav dd, dl.sub-nav dt {
    margin-top: 0.325rem;
    margin-bottom: 0.325rem;
    margin-left: 0;
    margin-right: 0.325rem;
}

.CodeMirror {
    border-bottom: 1px solid #d8d8d8;
}

.CodeMirror-gutters {
    background-color: #f2f2f2
}

.top-bar {
    margin-bottom: 1rem;
}

.no-padding {
    padding: 0;
}
