
body {
    background-color: #FBFBFB;
}

dl {
    font-family: Verdana,sans-serif;
    line-height: 1.4;
    margin-bottom: 0;
}
    dl dt {
        font-weight: normal;
        display: inline-block;
        font-size: 0.75em;
        text-transform: uppercase;
        color: #a5a5a5;
        margin: 0;
    }
    dl dd {
        color: black;
        display: block;
        font-size: 1em;
        letter-spacing: -0.05em;
        margin: 0 0 0.5em 0;
    }

progress {
    width: 100%;
    height: 0.25em;
}

section h3 {
    font-size: 1em;
}

#HistoryList li a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#HistoryList li a.delete-parent,
#HeadersTable li a.delete-parent,
#FormData li a.delete-parent{
    width: 24px;
    text-align: center;
}

#HeadersTable li label, #FormData li label {
    text-indent: -5000px;
    line-height: 0px;
    padding: 0.250em;
}

#ResponsePanel {
    position: relative;
}
    #ResponsePanel .overlay {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url("/img/loading.gif") center no-repeat rgba(25,25,25,0.6);
        z-index: 100;
        text-align: center;
    }
    #ResponsePanel.loading .overlay {
        display: block;
    }


#Url.loading {
    background: url("/img/loading.gif") right no-repeat;
    background-origin: content-box;
}

.clearfix {
    clear: both;
}

.CodeMirror {
    border-bottom: 1px solid #d8d8d8;
}

.CodeMirror-gutters {
    background-color: #f2f2f2
}

.copyright {
    color: #444;
    padding: 1em;
    text-align: center;
}

.expandable {
    border: 1px solid #a5a5a5;
    box-shadow: 0 0px 1px #d7d7d7;
    margin: 1em auto;
}
    .expandable.closed {
        overflow: hidden;
    }
    .expandable .expander {
        display: block;
        padding: 0.5em 0 0.5em 2em;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAFCAYAAAB4ka1VAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAAJcEhZcwAACxEAAAsRAX9kX5EAAAA3SURBVBhXXYuJDQAgCAPB/TotA2raFCVewnsQEwCb4VGkq6RbUVVySr9seJRT9tfcLdcryesjDrXcFeyp7PAGAAAAAElFTkSuQmCC");
        background-position: 0.825em center;
        background-repeat: no-repeat;
        cursor: pointer;
        margin: 0;
    }
        .expandable.closed > .expander {
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAFCAYAAAB4ka1VAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAAJcEhZcwAACxEAAAsRAX9kX5EAAAAnSURBVBhXY/D19f0PwgxoAC4OYyArwhBDFkDGYEkYwCsJA5iSDAwA2BMpxchNQrMAAAAASUVORK5CYII=");
        }
        .expandable.closed > *:not(.expander) {
            display: none;
        }

.label {
    margin-bottom: 0;
}

.name-value-list {
    margin: 0;
    padding: 0;
    position: relative;
}
    .name-value-list input {
        border: 1px solid transparent;
        box-shadow: 0 0 0;
        margin: 0;
        background-color: transparent;
        display: block;
        padding: 0.5rem;
        height: 2.3125rem;
    }
    .name-value-list input:focus {
        border: 1px solid #a5a5a5;
        box-shadow: 0 0 0;
        background-color: white;
        border-radius: 3px;
    }
    .name-value-list li {
        border: solid 4px white;
        background-color: #fafafa;
        width: 100%;
        display: flex;
        border-radius: 3px;
        margin: 0.5em 0;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    }
        .name-value-list li:nth-of-type(even) {
            background-color: #f1f1f1;
        }
        .name-value-list li:hover {
            box-shadow: 0 0 0 1px rgb(165, 165, 165);
        }
        .name-value-list li .eager {
            flex-grow: 1;
        }
        .name-value-list li .uneager {
            flex-grow: 0;
        }

.no-padding {
    padding: 0;
}

.row.full-width {
    max-width: 100%;
}

.sub-nav {
    margin: 0;
    padding: 0.3em;
}
    .sub-nav li {
        margin: 0;
        padding: 0;
    }

.tabs-content {
    margin: 0;
}
    .tabs-content > .content {
        padding: 0;
    }

.template-item {
    /* These items should never be displayed */
    display: none !important;
}

.top-bar {
    margin-bottom: 1rem;
}
