/*
 * This file is part of RESTMan for Opera Extension.
 * https://github.com/jsargiot/restman
 *
 * Free to use under the MIT license.
 * https://raw.githubusercontent.com/jsargiot/restman/master/LICENSE
 */

.expandable {
    overflow: auto;
    border-top: 1px solid rgba(0,0,0,0.1);
}
    .expandable.closed {
        overflow: hidden;
    }
    .expandable .expander {
        display: block;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAFCAYAAAB4ka1VAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAAJcEhZcwAACxEAAAsRAX9kX5EAAAA3SURBVBhXXYuJDQAgCAPB/TotA2raFCVewnsQEwCb4VGkq6RbUVVySr9seJRT9tfcLdcryesjDrXcFeyp7PAGAAAAAElFTkSuQmCC");
        background-position: 0.825em center;
        background-repeat: no-repeat;
        cursor: pointer;
    }
        .expandable.closed > .expander {
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAFCAYAAAB4ka1VAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAAJcEhZcwAACxEAAAsRAX9kX5EAAAAnSURBVBhXY/D19f0PwgxoAC4OYyArwhBDFkDGYEkYwCsJA5iSDAwA2BMpxchNQrMAAAAASUVORK5CYII=");
        }
        .expandable.closed > *:not(.expander) {
            display: none;
        }