/*!
 * Based on Materialize v0.95.3 (http://materializecss.com)
 * Copyright 2014-2015 Materialize
 * MIT License (https://raw.githubusercontent.com/Dogfalo/materialize/master/LICENSE)
 */
@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Bold.ttf");
  font-weight: 700; }

.blue-grey.lighten-5 {
  background-color: #eceff1 !important;
}

.blue-grey-text.text-lighten-5 {
  color: #eceff1 !important;
}

.blue-grey.lighten-2 {
  background-color: #90a4ae !important;
}

.blue-grey-text.text-lighten-2 {
  color: #90a4ae !important;
}

.blue-grey {
  background-color: #607d8b !important;
  color: white !important;
}

.blue-grey-text {
  color: #607d8b !important;
}

.border-radius {
  border-radius: 3px;
}

input[type=button].flat {
  display: inline-block;
  height: 36px;
  padding: 0 1rem;
  text-transform: uppercase;
  border: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none;
  background-color: transparent;
  color: #343434;
  cursor: pointer;
}

  input[type=button].flat:hover {
    background-color: #DFDFDF;
  }

  input[type=button].flat.disabled {
    background-color: #DFDFDF;
    box-shadow: none;
    color: #9F9F9F;
    cursor: default;
  }
  input[type=button].flat.error {
    background-color: #c81414;
    color: white;
    border: 1px solid #800;
  }

  input[type=button].flat.ok {
    background-color: #60b044;
    color: white;
    border: 1px solid #080;
  }

input[type=text].flat, input[type=password].flat, input[type=file].flat {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #cfd1d4;
  box-shadow: none;
  margin: 0.5rem;
  background-color: transparent;
  display: block;
  color: rgba(0, 0, 0, 0.75);
  padding: 0.5rem;
}

input[type=text].flat:focus, input[type=password].flat:focus {
  border-bottom: 2px solid #78909c;
  outline: none;
}

ul.material-tabs {
  margin: 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

ul.material-tabs li {
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

ul.material-tabs li.active {
  border-bottom: 3px solid #607d8b;
}

ul.material-tabs li.active a {
  color: #607d8b;
}

ul.material-tabs li > a {
  display: block;
  padding: 1rem;
  text-transform: uppercase;
  outline: none;
  color: rgba(0,0,0,0.75);
}
